// Common Color
$white : #fff;
$black : #333;

//Theme Color
$primary_color: #1e90ff;
$secondary_color: #45aaf2;
$title_color: #3071FF;
$btn_color: #ff4757;
$bg : #f2f2f2;
$border: #ddd;
$border2: #ccc;
$bg-grad: rgba(51, 51, 51, 0.8);
