/* ============= FAQ Section ================ */
.faq-area{
    details {
        background-color: #ddd;
        padding: 14px;
        margin-bottom: 14px;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 600;
        p {
            background: #fff;
            padding: 16px;
            border-radius: 4px;
            margin-top: 20px;
            font-size: 16px;
            font-weight: 400;
           
          }
      }
} 
 